<h3><strong>いいねリスト</strong></h3>
<p class="text-muted">自動いいねする投稿のリストの確認と追加を行います。</p><br>
<ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="twitter-tab" data-toggle="pill" href="#twitter" role="tab" aria-controls="twitter" aria-selected="true"><i class="fab fa-twitter-square"></i>&nbspTwitter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="instagram-tab" data-toggle="pill" href="#instagram" role="tab" aria-controls="instagram" aria-selected="false"><i class="fab fa-instagram"></i>&nbspInstagram</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="facebook-tab" data-toggle="pill" href="#facebook" role="tab" aria-controls="facebook" aria-selected="false" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook-square"></i>&nbspFacebook</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">
    <% if @twitterActive %>
    <div class="media">
      <a href="#" class="align-self-center mr-3">
        <img src="<%= @twitterActiveImage.profile_image %>" alt="中メディアの画像" class="rounded-circle shadow" width="100" height="100">
      </a>
      <div class="media-body">
        <br>
        <h6 class="mt-0"><%= @twitterActive.profile_name %></h6>
        <small class="text-muted">@<%= @twitterActive.username %></small>
      </div>
    </div><br>
    <% else %>
    <a href="/account/list" class="btn btn-danger">アクティブアカウントを設定して下さい</a><br><br>
    <% end %>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいね設定</strong>
      </div>
      <div class="card-body">
        <form action="/fav/setting_create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="1">
          </div>
          <div class="form-group row">
            <label for="dayLimit" class="col-2 col-form-label">1日の上限</label>
            <div class="col-2">
              <div class="input-group mb-3">
                <% if @twitterSetting %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" value="<%= @twitterSetting.dayLimit %>" required>
                <% else %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">件</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="intervalsec" class="col-2 col-form-label">実行間隔</label>
            <div class="col-2">
              <div class="input-group mb-3">
                <% if @twitterSetting %>
                <input name="intervalsec" type="number" class="form-control" id="intervalsec" min="1" value="<%= @twitterSetting.intervalsec %>" required>
                <% else %>
                <input name="intervalsec" type="number" class="form-control" id="intervalsec" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">秒</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="input-group mb-3">
                <select name="interval" class="custom-select" id="interval1" value=1>
                  <option>停止中</option>
                  <% @intervalHour.each do |i| %>
                    <% if @twitterSetting %>
                      <% if i == @twitterSetting.interval %>
                       <option value="<%= i %>" selected><%= i %></option>
                      <% else %>
                        <option value="<%= i %>"><%= i %></option>
                      <% end %>
                    <% else %>
                      <option value="<%= i %>"><%= i %></option>
                    <% end %>
                  <% end %>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">時間おきに</span>
                </div>
                <% if @twitterSetting %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" value="<%= @twitterSetting.count_by_interval %>" required>
                <% else %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon3">件いいねする</span>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">保存</button>
        </form>
      </div>
    </div><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト追加</strong>
      </div>
      <div class="card-body">
        <form action="/fav/create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="1">
          </div>
          <div class="row">
            <div class="col-6">
              <select name="option" class="custom-select addoption1" id="addoption1" required>
                <option selected disabled value="">いいねリスト追加方法</option>
                <option value="1">あるキーワードの投稿を追加</option>
                <option value="2">あるユーザーのフォロワー〇〇人の最新投稿を追加</option>
                <option value="3">あるユーザーのフォロー〇〇人の最新投稿を追加</option>
              </select>
            </div>
            <div class="col-6">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-group user1 showform1" style="display:none;">
                <input name="user" type="text" class="form-control" id="exampleInputEmail1" placeholder="ユーザーのアカウント名（@以降）">
              </div>
              <div class="form-group word1 showform1" style="display:none;">
                <input name="word" type="text" class="form-control" id="exampleInputEmail1" placeholder="特定のキーワード">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select name="count" id="count" class="custom-select" required>
                  <option selected value="">リスト追加数を選択</option>
                  <option value=50>50</option>
                  <option value=100>100</option>
                  <option value=150>150</option>
                </select>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">追加</button>
        </form>
      </div>
    </div><br><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト一覧 （<%= @fav1.count %>投稿）</strong>
      </div>
      <div class="card-body">
        <% if @fav1.count > 0 %>
        <ul class="list-unstyled">
        <div class="row">
          <% count = 1 %>
          <% @fav1.each do |fav| %>
          <% if count > 50 %>
          <div class="col-6 more1">
            <li class="media">
              <a href="#" class="mr-3">
                <%= image_tag(fav.target_postImage, size:"60x60", class:"rounded-circle shadow") %>
              </a>
              <div class="media-body">
                <strong class="mt-0"><%= fav.target_name %></strong>
                <small class="text-muted">@<%= fav.target_username %></small><br><br>
                <a href="<%= fav.target_postLink %>" class="btn btn-sm btn-info" target="_blank">詳細を見る</a>
                <%= link_to "削除する", "/fav/#{fav.id}", method: :delete, data: { confirm:'本当に削除しますか?' }, class:"btn btn-sm btn-danger" %>
              </div>
            </li><hr>
          </div>
          <% else %>
          <div class="col-6">
            <li class="media">
              <a href="#" class="mr-3">
                <%= image_tag(fav.target_postImage, size:"60x60", class:"rounded-circle shadow") %>
              </a>
              <div class="media-body">
                <strong class="mt-0"><%= fav.target_name %></strong>
                <small class="text-muted">@<%= fav.target_username %></small><br><br>
                <a href="<%= fav.target_postLink %>" class="btn btn-sm btn-info" target="_blank">詳細を見る</a>
                <%= link_to "削除する", "/fav/#{fav.id}", method: :delete, data: { confirm:'本当に削除しますか?' }, class:"btn btn-sm btn-danger" %>
              </div>
            </li><hr>
          </div>
          <% end %>
          <% count += 1 %>
          <% end %>
        </div>
        </ul>
        <button class="btn btn-outline-primary morebtn1 btn-block">すべて表示する</button>
        <% else %>
        現在、いいね予定の投稿はありません。
        <% end %>

      </div>
    </div><br><br>
  </div>
  <div class="tab-pane fade" id="instagram" role="tabpanel" aria-labelledby="instagram-tab">
    <% if @instagramActive %>
    <div class="media">
      <a href="#" class="align-self-center mr-3">
        <img src="<%= @instagramActiveImage.profile_image %>" alt="中メディアの画像" class="rounded-circle shadow" width="100" height="100">
      </a>
      <div class="media-body">
        <br>
        <h6 class="mt-0"><%= @instagramActive.profile_name %></h6>
        <small class="text-muted">@<%= @instagramActive.username %></small>
      </div>
    </div><br>
    <% else %>
    <a href="/account/list" class="btn btn-danger">アクティブアカウントを設定して下さい</a><br><br>
    <% end %>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいね設定</strong>
      </div>
      <div class="card-body">
        <form action="/fav/setting_create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="2">
          </div>
          <div class="form-group row">
            <label for="dayLimit" class="col-2 col-form-label">1日の上限</label>
            <div class="col-2">
              <div class="input-group mb-3">
                <% if @instagramSetting %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" value="<%= @instagramSetting.dayLimit %>" required>
                <% else %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">件</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="intervalsec" class="col-2 col-form-label">実行間隔</label>
            <div class="col-2">
              <div class="input-group mb-3">
                <% if @instagramSetting %>
                <input name="intervalsec" type="number" class="form-control" id="intervalsec" min="1" value="<%= @instagramSetting.intervalsec %>" required>
                <% else %>
                <input name="intervalsec" type="number" class="form-control" id="intervalsec" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">秒</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="input-group mb-3">
                <select name="interval" class="custom-select" id="interval1" value=1>
                  <option>停止中</option>
                  <% @intervalHour.each do |i| %>
                    <% if @instagramSetting %>
                      <% if i == @instagramSetting.interval %>
                       <option value="<%= i %>" selected><%= i %></option>
                      <% else %>
                        <option value="<%= i %>"><%= i %></option>
                      <% end %>
                    <% else %>
                      <option value="<%= i %>"><%= i %></option>
                    <% end %>
                  <% end %>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">時間おきに</span>
                </div>
                <% if @instagramSetting %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" value="<%= @instagramSetting.count_by_interval %>" required>
                <% else %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon3">件いいねする</span>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">保存</button>
        </form>
      </div>
    </div><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト追加</strong>
      </div>
      <div class="card-body">
        <form action="/fav/create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="2">
          </div>
          <div class="row">
            <div class="col-6">
              <select name="option" class="custom-select addoption2" id="addoption2">
                <option selected>いいねリスト追加方法</option>
                <option value="1">あるハッシュタグの投稿を追加</option>
                <option value="2">あるユーザーのフォロワー〇〇人の最新投稿を追加</option>
                <option value="3">あるユーザーのフォロー〇〇人の最新投稿を追加</option>
                <option value="4">ある投稿をいいねしているユーザー〇〇人の最新投稿を追加</option>
              </select>
            </div>
            <div class="col-6">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-group user2 showform2" style="display:none;">
                <input name="user" type="text" class="form-control" id="exampleInputEmail1" placeholder="ユーザーのアカウント名（@以降）">
              </div>
              <div class="form-group word2 showform2" style="display:none;">
                <input name="word" type="text" class="form-control" id="exampleInputEmail1" placeholder="特定のハッシュタグ">
              </div>
              <div class="form-group post2 showform2" style="display:none;">
                <input name="post" type="text" class="form-control" id="exampleInputEmail1" placeholder="投稿のURL">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select name="count" id="count" class="custom-select">
                  <option selected>リスト追加数を選択</option>
                  <option value=50>50</option>
                  <option value=100>100</option>
                  <option value=150>150</option>
                  <option value=200>200</option>
                  <option value=250>250</option>
                  <option value=300>300</option>
                  <option value=350>350</option>
                  <option value=400>400</option>
                  <option value=450>450</option>
                </select>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">追加</button>
        </form>
      </div>
    </div><br><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト一覧 （<%= @fav2.count %>投稿）</strong>
      </div>
      <div class="card-body">
        <% if @fav2.count > 0 %>
        <ul class="list-unstyled">
        <div class="row">
          <% count = 1 %>
          <% @fav2.each do |fav| %>
          <% if count > 50 %>
          <div class="col-6 more2">
            <li class="media">
              <a href="#" class="mr-3">
                <%= image_tag(fav.target_postImage, size:"60x60", class:"rounded-circle shadow") %>
              </a>
              <div class="media-body">
                <strong class="mt-0"><%= fav.target_name %></strong>
                <small class="text-muted">@<%= fav.target_username %></small><br><br>
                <a href="<%= fav.target_postLink %>" class="btn btn-sm btn-info" target="_blank">詳細を見る</a>
                <%= link_to "削除する", "/fav/#{fav.id}", method: :delete, data: { confirm:'本当に削除しますか?' }, class:"btn btn-sm btn-danger" %>
              </div>
            </li><hr>
          </div>
          <% else %>
          <div class="col-6">
            <li class="media">
              <a href="#" class="mr-3">
                <%= image_tag(fav.target_postImage, size:"60x60", class:"rounded-circle shadow") %>
              </a>
              <div class="media-body">
                <strong class="mt-0"><%= fav.target_name %></strong>
                <small class="text-muted">@<%= fav.target_username %></small><br><br>
                <a href="<%= fav.target_postLink %>" class="btn btn-sm btn-info" target="_blank">詳細を見る</a>
                <%= link_to "削除する", "/fav/#{fav.id}", method: :delete, data: { confirm:'本当に削除しますか?' }, class:"btn btn-sm btn-danger" %>
              </div>
            </li><hr>
          </div>
          <% end %>
          <% count += 1 %>
          <% end %>
        </div>
        </ul>
        <button class="btn btn-outline-primary btn-block morebtn2">すべて表示する</button>
        <% else %>
        現在、いいね予定の投稿はありません。
        <% end %>
      </div>
    </div><br><br>
  </div>
  <div class="tab-pane fade" id="facebook" role="tabpanel" aria-labelledby="facebook-tab">

  </div>
</div>

<script>
$('.more1').hide();
$('.morebtn1').click(function () {
  $('.more1').fadeIn();
})
$('.more2').hide();
$('.morebtn2').click(function () {
  $('.more2').fadeIn();
})
$('#addoption1').change(function () {
  var text = $('.addoption1>option:selected').val();
  if (text == "2") {
    $('.showform1').hide();
    $('.user1').fadeIn();
  } else if (text == "1") {
    $('.showform1').hide();
    $('.word1').fadeIn();
  } else if (text == "3") {
    $('.showform1').hide();
    $('.user1').fadeIn();
  }
})
$('#addoption2').change(function () {
  var text = $('.addoption2>option:selected').val();
  if (text == "2") {
    $('.showform2').hide();
    $('.user2').fadeIn();
  } else if (text == "1") {
    $('.showform2').hide();
    $('.word2').fadeIn();
  } else if (text == "3") {
    $('.showform1').hide();
    $('.user2').fadeIn();
  } else if (text == "4") {
    $('.showform1').hide();
    $('.post2').fadeIn();
  }
})
</script>
