<h3><strong>いいねリスト</strong></h3>
<p class="text-muted">自動いいねする投稿のリストの確認と追加を行います。</p><br>
<ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="twitter-tab" data-toggle="pill" href="#twitter" role="tab" aria-controls="twitter" aria-selected="true"><i class="fab fa-twitter-square"></i>&nbspTwitter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="instagram-tab" data-toggle="pill" href="#instagram" role="tab" aria-controls="instagram" aria-selected="false"><i class="fab fa-instagram"></i>&nbspInstagram</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="facebook-tab" data-toggle="pill" href="#facebook" role="tab" aria-controls="facebook" aria-selected="false" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook-square"></i>&nbspFacebook</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">
    <% if @twitterActive %>
    <div class="media">
      <a href="#" class="align-self-center mr-3">
        <img src="<%= @twitterActiveImage.profile_image %>" alt="中メディアの画像" class="rounded-circle shadow" width="100" height="100">
      </a>
      <div class="media-body">
        <br><p class="mb-0"><%= @twitterActive.profile_name %></p>
      </div>
    </div><br>
    <% else %>
    <a href="/account/list" class="btn btn-danger">アクティブアカウントを設定して下さい</a><br><br>
    <% end %>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいね設定</strong>
      </div>
      <div class="card-body">
        <form action="/fav/setting_create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="1">
          </div>
          <div class="form-group row">
            <label for="dayLimit" class="col-2 col-form-label">1日の上限</label>
            <div class="col-2">
              <div class="input-group mb-3">
                <% if @twitterSetting %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" value="<%= @twitterSetting.dayLimit %>" required>
                <% else %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">件</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="input-group mb-3">
                <% if @twitterSetting %>
                <input name="interval" type="number" class="form-control" id="interval" min="1" max="12" value="<%= @twitterSetting.interval %>" required>
                <% else %>
                <input name="interval" type="number" class="form-control" id="interval" min="1" max="12" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">時間おきに</span>
                </div>
                <% if @twitterSetting %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" value="<%= @twitterSetting.count_by_interval %>" required>
                <% else %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon3">件いいねする</span>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">保存</button>
        </form>
      </div>
    </div><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト追加</strong>
      </div>
      <div class="card-body">
        <form action="/fav/create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="1">
          </div>
          <div class="row">
            <div class="col-6">
              <select name="option" class="custom-select addoption1" id="addoption1" required>
                <option selected disabled value="">いいねリスト追加方法</option>
                <option value="1">あるキーワードの投稿を追加</option>
                <option value="2">あるユーザーのフォロワー〇〇人の最新投稿を追加</option>
                <option value="3">あるユーザーのフォロー〇〇人の最新投稿を追加</option>
              </select>
            </div>
            <div class="col-6">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-group user1 showform1" style="display:none;">
                <input name="user" type="text" class="form-control" id="exampleInputEmail1" placeholder="ユーザーのアカウント名（@以降）">
              </div>
              <div class="form-group word1 showform1" style="display:none;">
                <input name="word" type="text" class="form-control" id="exampleInputEmail1" placeholder="特定のキーワード">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select name="count" id="count" class="custom-select" required>
                  <option selected value="">リスト追加数を選択</option>
                  <option value=50>50</option>
                  <option value=100>100</option>
                  <option value=150>150</option>
                </select>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">追加</button>
        </form>
      </div>
    </div><br><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト一覧 （<%= @fav1.count %>投稿）</strong>
      </div>
      <div class="card-body text-center">
        <% if @fav1.count > 0 %>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>アイコン</th>
              <th>アカウント名</th>
              <th>投稿URL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% count = 1 %>
            <% @fav1.each do |fav| %>
            <% if count > 50 %>
            <tr class="more1" style="cursor:pointer;" onclick="window.open().location.href='<%= fav.target_postLink %>'">
            <% else %>
            <tr style="cursor:pointer;" onclick="window.open().location.href='<%= fav.target_postLink %>'">
            <% end %>
              <td class="align-middle"><%= image_tag(fav.target_postImage, size:"60x60", class:"rounded-circle shadow") %></td>
              <td class="align-middle"><%= fav.target_name.truncate(20) %></td>
              <td class="align-middle"><%= link_to("投稿リンク",fav.target_postLink) %></td>
              <td class="align-middle"> <a href="#" class="btn btn-sm btn-danger">削除</a> </td>
            </tr>
            <% count += 1%>
            <% end %>
          </tbody>
        </table>
        <button class="btn btn-outline-primary btn-block morebtn1">全て表示する</button>
        <% else %>
        現在、いいね予定の投稿はありません。
        <% end %>

      </div>
    </div><br><br>
  </div>
  <div class="tab-pane fade" id="instagram" role="tabpanel" aria-labelledby="instagram-tab">
    <% if @instagramActive %>
    <div class="media">
      <a href="#" class="align-self-center mr-3">
        <img src="<%= @instagramActiveImage.profile_image %>" alt="中メディアの画像" class="rounded-circle shadow" width="100" height="100">
      </a>
      <div class="media-body">
        <br><p class="mb-0"><%= @instagramActive.profile_name %></p>
      </div>
    </div><br>
    <% else %>
    <a href="/account/list" class="btn btn-danger">アクティブアカウントを設定して下さい</a><br><br>
    <% end %>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいね設定</strong>
      </div>
      <div class="card-body">
        <form action="/fav/setting_create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="2">
          </div>
          <div class="form-group row">
            <label for="dayLimit" class="col-2 col-form-label">1日の上限</label>
            <div class="col-2">
              <div class="input-group mb-3">
                <% if @instagramSetting %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" value="<%= @instagramSetting.dayLimit %>" required>
                <% else %>
                <input name="dayLimit" type="number" class="form-control" id="dayLimit" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">件</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="input-group mb-3">
                <% if @instagramSetting %>
                <input name="interval" type="number" class="form-control" id="interval" min="1" value="<%= @instagramSetting.interval %>" required>
                <% else %>
                <input name="interval" type="number" class="form-control" id="interval" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">時間おきに</span>
                </div>
                <% if @instagramSetting %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" value="<%= @instagramSetting.count_by_interval %>" required>
                <% else %>
                <input name="count_by_interval" type="number" class="form-control" id="count_by_interval" min="1" required>
                <% end %>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon3">件いいねする</span>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">保存</button>
        </form>
      </div>
    </div><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト追加</strong>
      </div>
      <div class="card-body">
        <form action="/fav/create">
          <div class="form-group" hidden>
            <label for="sns_type">sns_type</label>
            <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="2">
          </div>
          <div class="row">
            <div class="col-6">
              <select name="option" class="custom-select addoption2" id="addoption2">
                <option selected>いいねリスト追加方法</option>
                <option value="1">あるハッシュタグの投稿を追加</option>
                <option value="2">あるユーザーのフォロワー〇〇人の最新投稿を追加</option>
                <option value="3">あるユーザーのフォロー〇〇人の最新投稿を追加</option>
              </select>
            </div>
            <div class="col-6">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-group user2 showform2" style="display:none;">
                <input name="user" type="text" class="form-control" id="exampleInputEmail1" placeholder="ユーザーのアカウント名（@以降）">
              </div>
              <div class="form-group word2 showform2" style="display:none;">
                <input name="word" type="text" class="form-control" id="exampleInputEmail1" placeholder="特定のハッシュタグ">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select name="count" id="count" class="custom-select">
                  <option selected>リスト追加数を選択</option>
                  <option value=50>50</option>
                  <option value=100>100</option>
                  <option value=150>150</option>
                </select>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">追加</button>
        </form>
      </div>
    </div><br><br>
    <div class="card shadow">
      <div class="card-header">
        <strong>いいねリスト一覧 （<%= @fav2.count %>投稿）</strong>
      </div>
      <div class="card-body text-center">
        <% if @fav2.count > 0 %>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>アイコン</th>
              <th>アカウント名</th>
              <th>投稿URL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% count = 1 %>
            <% @fav2.each do |fav| %>
            <% if count > 50 %>
            <tr class="more2" style="cursor:pointer;" onclick="window.open().location.href='<%= fav.target_postLink %>'">
            <% else %>
            <tr style="cursor:pointer;" onclick="window.open().location.href='<%= fav.target_postLink %>'">
            <% end %>
              <td class="align-middle"><%= image_tag(fav.target_postImage, size:"60x60", class:"rounded-circle shadow") %></td>
              <td class="align-middle"><%= fav.target_username.truncate(20) %></td>
              <td class="align-middle"><%= link_to("投稿リンク",fav.target_postLink) %></td>
              <td class="align-middle"> <a href="#" class="btn btn-sm btn-danger">削除</a> </td>
            </tr>
            <% count += 1 %>
            <% end %>
          </tbody>
        </table>
        <button class="btn btn-outline-primary morebtn2">すべて表示する</button>
        <% else %>
        現在、いいね予定の投稿はありません。
        <% end %>
      </div>
    </div><br><br>
  </div>
  <div class="tab-pane fade" id="facebook" role="tabpanel" aria-labelledby="facebook-tab">

  </div>
</div>

<script>
$('.more1').hide();
$('.morebtn1').click(function () {
  $('.more1').fadeIn();
})
$('.more2').hide();
$('.morebtn2').click(function () {
  $('.more2').fadeIn();
})
$('#addoption1').change(function () {
  var text = $('.addoption1>option:selected').val();
  if (text == "2") {
    $('.showform1').hide();
    $('.user1').fadeIn();
  } else if (text == "1") {
    $('.showform1').hide();
    $('.word1').fadeIn();
  } else if (text == "3") {
    $('.showform1').hide();
    $('.user1').fadeIn();
  }
})
$('#addoption2').change(function () {
  var text = $('.addoption2>option:selected').val();
  if (text == "2") {
    $('.showform2').hide();
    $('.user2').fadeIn();
  } else if (text == "1") {
    $('.showform2').hide();
    $('.word2').fadeIn();
  } else if (text == "3") {
    $('.showform1').hide();
    $('.user2').fadeIn();
  }
})
</script>
