<h3><strong>フォローリスト</strong></h3>
<p class="text-muted">自動フォローするアカウントのリストの確認と追加を行います。</p><br>
<% if @instagramActive %>
<div class="media">
  <a href="#" class="align-self-center mr-3">
    <img src="<%= @instagramActiveImage.profile_image %>" alt="中メディアの画像" class="rounded-circle shadow" width="100" height="100">
  </a>
  <div class="media-body">
    <br>
    <h6 class="mt-0"><%= @instagramActive.profile_name %></h6>
    <small class="text-muted">@<%= @instagramActive.username %></small>
  </div>
</div><br>
<% else %>
<a href="/account/list" class="btn btn-danger">アクティブアカウントを設定して下さい</a><br><br>
<% end %>
<div class="card shadow">
  <div class="card-header">
    <strong>フォロー設定</strong>
  </div>
  <div class="card-body">
    <form action="/follow/setting_create">
      <div class="form-group" hidden>
        <label for="sns_type">sns_type</label>
        <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="2">
      </div>
      <div class="form-group row">
        <label for="limit" class="col-2 col-form-label">1日の上限</label>
        <div class="col-2">
          <div class="input-group mb-3">
            <% if @instagramSetting %>
            <input name="dayLimit" type="number" class="form-control" id="limit" min="1" value="<%= @instagramSetting.dayLimit %>" required>
            <% else %>
            <input name="dayLimit" type="number" class="form-control" id="limit" min="1" required>
            <% end %>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">件</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="intervalsec" class="col-2 col-form-label">実行間隔</label>
        <div class="col-2">
          <div class="input-group mb-3">
            <% if @instagramSetting %>
            <input name="intervalsec" type="number" class="form-control" id="intervalsec" min="1" value="<%= @instagramSetting.intervalsec %>" required>
            <% else %>
            <input name="intervalsec" type="number" class="form-control" id="intervalsec" min="1" required>
            <% end %>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">秒</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <div class="input-group mb-3">
            <select name="interval" class="custom-select" id="interval2">
              <option selected>停止中</option>
              <% @intervalHour.each do |i| %>
                <% if @instagramSetting %>
                  <% if i == @instagramSetting.interval %>
                   <option value="<%= i %>" selected><%= i %></option>
                  <% else %>
                    <option value="<%= i %>"><%= i %></option>
                  <% end %>
                <% else %>
                  <option value="<%= i %>"><%= i %></option>
                <% end %>
              <% end %>
            </select>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">時間おきに</span>
            </div>
            <% if @instagramSetting %>
            <input name="count_by_interval" type="number" class="form-control" id="interval" min="1" value="<%= @instagramSetting.count_by_interval %>" required>
            <% else %>
            <input name="count_by_interval" type="number" class="form-control" id="interval" min="1" required>
            <% end %>
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">件フォローする</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">保存</button>
    </form>
  </div>
</div><br>
<div class="card shadow">
  <div class="card-header">
    <strong>フォローリスト追加</strong>
  </div>
  <div class="card-body">
    <form action="/follow/create">
      <div class="form-group" hidden>
        <label for="sns_type">sns_type</label>
        <input name="sns_type" type="number" class="form-control" id="sns_type" name="sns_type" value="2">
      </div>
      <div class="row">
        <div class="col-6">
          <select name="option" class="custom-select addoption2" id="addoption" required>
            <option selected value="">フォローリスト追加方法</option>
            <option value="1">指定したユーザーのフォロワーを追加</option>
            <option value="2">指定したユーザーのフォローを追加</option>
            <option value="3">特定のハッシュタグを投稿しているユーザーを追加</option>
            <option value="4">特定の投稿にいいねしているユーザーを追加</option>
          </select>
        </div>
        <div class="col-6">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="form-group user2 showform2" style="display:none;">
            <input type="text" name="user" class="form-control" id="exampleInputEmail1" placeholder="ユーザーのアカウント名（@以降）">
          </div>
          <div class="form-group word2 showform2" style="display:none;">
            <input type="text" name="word" class="form-control" id="exampleInputEmail1" placeholder="特定のハッシュタグ">
          </div>
          <div class="form-group post2 showform2" style="display:none;">
            <input type="text" name="post" class="form-control" id="exampleInputEmail1" placeholder="投稿のURL">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <select name="count" id="count" class="custom-select" required>
              <option selected value="">リスト追加数を選択</option>
              <option value=50>50</option>
              <option value=100>100</option>
              <option value=250>150</option>
              <option value=200>200</option>
              <option value=250>250</option>
              <option value=300>300</option>
              <option value=350>350</option>
              <option value=400>400</option>
              <option value=450>450</option>
              <option value=500>500</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input name="check" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">全アカウントに適用する</label>
      </div>
      <button type="submit" class="btn btn-primary">追加</button>
    </form>
  </div>
</div><br><br>
<div class="card shadow">
  <div class="card-header">
    <strong>フォローリスト一覧 （<%= @follows2.count %>人）</strong>
  </div>
  <div class="card-body">
    <% if @follows2.count > 0 %>
    <ul class="list-unstyled">
    <div class="row">
      <% count = 1 %>
      <% @follows2.each do |follow| %>
      <% if count > 50 %>
      <div class="col-6 more2">
        <li class="media">
          <a href="#" class="mr-3">
            <%= image_tag(follow.target_image, size:"60x60", class:"rounded-circle shadow") %>
          </a>
          <div class="media-body">
            <strong class="mt-0"><%= follow.target_name %></strong>
            <small class="text-muted">@<%= follow.target_username %></small><br><br>
            <a href="https://instagram.com/<%= follow.target_username %>" class="btn btn-sm btn-info" target="_blank">詳細を見る</a>
            <%= link_to "削除する", "/follow/#{follow.id}", method: :delete, data: { confirm:'本当に削除しますか?' }, class:"btn btn-sm btn-danger" %>
          </div>
        </li><hr>
      </div>
      <% else %>
      <div class="col-6">
        <li class="media">
          <a href="#" class="mr-3">
            <%= image_tag(follow.target_image, size:"60x60", class:"rounded-circle shadow") %>
          </a>
          <div class="media-body">
            <strong class="mt-0"><%= follow.target_name %></strong>
            <small class="text-muted">@<%= follow.target_username %></small><br><br>
            <a href="https://instagram.com/<%= follow.target_username %>" class="btn btn-sm btn-info" target="_blank">詳細を見る</a>
            <%= link_to "削除する", "/follow/#{follow.id}", method: :delete, data: { confirm:'本当に削除しますか?' }, class:"btn btn-sm btn-danger" %>
          </div>
        </li><hr>
      </div>
      <% end %>
      <% count += 1 %>
      <% end %>
    </div>
    </ul>
    <button class="btn btn-outline-primary morebtn2 btn-block">すべて表示する</button>
    <% else %>
    現在、フォロー予定のアカウントはありません。
    <% end %>
  </div>
</div><br><br>
<script>
  $('.loading').hide();
  $('.more1').hide();
  $('.morebtn1').click(function () {
    $('.more1').fadeIn();
  })
  $('.more2').hide();
  $('.morebtn2').click(function () {
    $('.more2').fadeIn();
  })
  $('.addLoading').click(function () {
    $(this).hide();
    $('.loading').show();
  })
  $('.addoption1').change(function () {
    var text = $('.addoption1>option:selected').val();
    if (text == "1" || text == "2") {
      $('.showform1').hide();
      $('.user1').fadeIn();
    } else if (text == "3") {
      $('.showform1').hide();
      $('.word1').fadeIn();
    } else if (text == "4" || text == "5") {
      $('.showform1').hide();
      $('.post1').fadeIn();
    }
  })
  $('.addoption2').change(function () {
    var text = $('.addoption2>option:selected').val();
    if (text == "1" || text == "2") {
      $('.showform2').hide();
      $('.user2').fadeIn();
    } else if (text == "3") {
      $('.showform2').hide();
      $('.word2').fadeIn();
    } else if (text == "4" || text == "5") {
      $('.showform2').hide();
      $('.post2').fadeIn();
    }
  })
</script>
