<!DOCTYPE html>
<html>
  <head>
    <title>SNS Management Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>
  <% if user_signed_in? %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><%= image_tag("logo_wide.png", :size => "200x40") %></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/account/list"><i class="fab fa-twitter-square"></i>
              <% if Account.where(sns_type:1).where(active_flg:1).where(user_id:current_user.id).count > 0 %>
              &nbsp<%= Account.where(sns_type:1).where(active_flg:1).where(user_id:current_user.id)[0].username %>
              <% else %>
              &nbsp未設定
              <% end %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/list"><i class="fab fa-instagram"></i>
              <% if Account.where(sns_type:2).where(active_flg:1).where(user_id:current_user.id).count > 0 %>
              &nbsp<%= Account.where(sns_type:2).where(active_flg:1).where(user_id:current_user.id)[0].username %>
              <% else %>
              &nbsp未設定
              <% end %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/list"><i class="fab fa-facebook-square"></i>
              <% if Account.where(sns_type:3).where(active_flg:1).where(user_id:current_user.id).count > 0 %>
              &nbsp<%= Account.where(sns_type:3).where(active_flg:1).where(user_id:current_user.id)[0].username %>
              <% else %>
              &nbsp未設定
              <% end %>
            </a>
          </li>
          </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>&nbsp<%= current_user.email.split("@")[0] %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/account/list"><i class="fas fa-list-alt"></i>&nbspアカウント一覧</a>
                <%= link_to 'ログアウト', destroy_user_session_path, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-2">
        <div class="card bg-dark text-white rounded-0 border-top-0">
          <!-- <%= image_tag("logo_square.png", :class => "card-img-top rounded-0") %> -->
          <ul class="list-group list-group-flush">
            <!--
            <li class="list-group-item bg-dark post"><i class="fas fa-pen-square"></i>&nbsp&nbspタイムライン投稿</li>
            <li class="list-group-item text-body postsub d-flex justify-content-between align-items-center" onclick="location.href='/post/bulk'">
              <small>&nbsp&nbsp&nbsp予約投稿</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item text-body postsub d-flex justify-content-between align-items-center" onclick="location.href='/post/auto'">
              <small>&nbsp&nbsp&nbsp自動投稿(BOT)</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
          -->
            <li class="list-group-item bg-dark follow"><i class="fas fa-user-plus"></i>&nbsp&nbspフォロー</li>
            <li class="list-group-item text-body followsub d-flex justify-content-between align-items-center" onclick="location.href='/follow/list'">
              <small>&nbsp&nbsp&nbspフォローリスト</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item bg-dark unfollow"><i class="fas fa-user-minus"></i>&nbsp&nbspアンフォロー</li>
            <li class="list-group-item text-body unfollowsub d-flex justify-content-between align-items-center" onclick="location.href='/unfollow/list'">
              <small>&nbsp&nbsp&nbspアンフォローリスト</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item bg-dark fav"><i class="far fa-thumbs-up"></i>&nbsp&nbspいいね</li>
            <li class="list-group-item text-body favsub d-flex justify-content-between align-items-center" onclick="location.href='/fav/list'">
              <small>&nbsp&nbsp&nbspいいねリスト</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item bg-dark fav"><i class="far fa-thumbs-up"></i>&nbsp&nbspログ</li>
            <li class="list-group-item text-body favsub d-flex justify-content-between align-items-center" onclick="location.href='/notification/index'">
              <small>&nbsp&nbsp&nbspアクションログ</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <!--
            <li class="list-group-item bg-dark message"><i class="far fa-envelope"></i>&nbsp&nbspメッセージ</li>
            <li class="list-group-item text-body messagesub d-flex justify-content-between align-items-center">
              <small>&nbsp&nbsp&nbspメッセージ一覧</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item text-body messagesub d-flex justify-content-between align-items-center">
              <small>&nbsp&nbsp&nbspメッセージ送信リスト</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item bg-dark marketing"><i class="fas fa-chart-bar"></i>&nbsp&nbsp分析</li>
            <li class="list-group-item text-body messagesub d-flex justify-content-between align-items-center">
              <small>&nbsp&nbsp&nbspTwitter</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item text-body messagesub d-flex justify-content-between align-items-center">
              <small>&nbsp&nbsp&nbspInstagram</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
            <li class="list-group-item text-body messagesub d-flex justify-content-between align-items-center">
              <small>&nbsp&nbsp&nbspFacebook</small>
              <span><i class="fas fa-chevron-circle-right"></i></span>
            </li>
          -->
          </ul>
        </div>
      </div>
      <div class="col-8">
        <div class="container">
          <br><br>
          <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
          <% end %>
          <% if alert %>
          <div class="alert alert-danger" role="alert"><%= alert %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <div class="col-2">
        <br>
        <% Notification.where(user_id:current_user.id).where(isRead:0).each do |n| %>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img class="rounded mr-2" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/notification-circle-blue-512.png" alt="" width="20px" height="20px">
            <strong class="mr-auto">SocialBoost</strong>
            <!--<small>11分前</small>-->
            <a href="/notification/destroy?id=<%= n.id %>" class="btn ml-2 mb-1 close" data-dismiss="toast" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="toast-body">
            <%= n.content %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </body>
  <% else %>
  <body>
    <div class="login_container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><%= image_tag("logo_wide.png", :size => "200x40") %></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="mx-auto" style="width: 400px;"><br>
        <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
  <% end %>
</html>

<script>
 $('.dropdown-toggle').dropdown()
 $('.toast').toast({
   autohide: false
 }).toast('show')
 $('.toast').fadeOut()
 $('.toast').fadeIn()
 setTimeout(function(){
   $('.toast').fadeOut()
   $('.toast').fadeIn()
 },1000)

</script>
